<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


<context:component-scan base-package="com.adaming.bookingvoiture" />
<bean id="daoFacture"
		class="com.adaming.bookingvoiture.dao.facture.FactureDaoImpl"></bean>
	<bean id="serviceFacture"
		class="com.adaming.bookingvoiture.service.facture.FactureServiceImpl">
		<property name="daoFacture" ref="daoFacture"></property>
	</bean> 
<bean id="daoReservation"
		class="com.adaming.bookingvoiture.dao.reservation.ReservationDaoImpl"></bean>
	<bean id="serviceReservation"
		class="com.adaming.bookingvoiture.service.reservation.ReservationServiceImpl">
		<property name="daoReservation" ref="daoReservation"></property>
	</bean> 
<bean id="daoClient"
		class="com.adaming.bookingvoiture.dao.client.ClientDaoImpl"></bean>
	<bean id="serviceClient"
		class="com.adaming.bookingvoiture.service.client.ClientServiceImpl">
		<property name="daoClient" ref="daoClient"></property>
	</bean> 
	<bean id="daoAgence"
		class="com.adaming.bookingvoiture.dao.agence.AgenceDaoImpl"></bean>
	<bean id="serviceAgence"
		class="com.adaming.bookingvoiture.service.agence.AgenceServiceImpl">
		<property name="daoAgence" ref="daoAgence"></property>
	</bean> 
<bean id="daoVoiture"
		class="com.adaming.bookingvoiture.dao.voiture.VoitureDaoImpl"></bean>
	<bean id="serviceVoiture"
		class="com.adaming.bookingvoiture.service.voiture.VoitureServiceImpl">
		<property name="daoVoiture" ref="daoVoiture"></property>
	</bean> 
	<bean id="daoEntretien"
		class="com.adaming.bookingvoiture.dao.entretien.EntretienDaoImpl"></bean>
	<bean id="serviceEntretien"
		class="com.adaming.bookingvoiture.service.entretien.EntretienServiceImpl">
		<property name="daoEntretien" ref="daoEntretien"></property>
	</bean> 
<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property><!-- driver 
			class=connector -->
		<property name="url" value="jdbc:mysql://localhost/bookingvoiture"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"></property><!-- liaison 
			avec le bean datasource -->
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
	</bean>

	<bean id="EntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"><!-- EntityManagerFactory : creer les sessions ; class permet de 
			l'instancier -->
		<property name="persistenceUnitManager" ref="PersistenceUnitManager"></property>
		<property name="persistenceUnitName" value="UP_HOTEL"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="EntityManagerFactory"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" /><!-- 
		annotations pour activer les transactions -->
	<context:annotation-config></context:annotation-config><!-- pour activer 
		les annotations -->

	

</beans>
